.vscode/
scripts

# Python缓存文件
__pycache__/

# 环境变量文件
.env

demo*

.venv



knowledge/test/
knowledge/core/
knowledge/front/
knowledge/schema/
knowledge/prompts
knowledge/temp_data/
knowledge/utils/
!knowledge/utils/task_util.py

README.md


# https://github.com/xilin0770/Graduation_Project.git
# Graduation_Project

