.vscode/
scripts

# Python缓存文件
__pycache__/

# 环境变量文件
.env

demo*

.venv

knowledge/processor/query_process
knowledge/api/
knowledge/services/
knowledge/test/
knowledge/core/
knowledge/front/
knowledge/schema/
knowledge/prompts
knowledge/utils

# https://github.com/xilin0770/Graduation_Project.git
# Graduation_Project

